<div class="edit">
  <form {{action "save" this on="submit"}}>
    <label>Title: {{input value=title}}</label>
    <label>Description: {{input value=description}}</label>

    <fieldset>
      <legend>Ingredients</legend>
      <ul>
      {{#each ingredient in ingredients}}
        <li>
          <label>
            {{input type=text value=ingredient.item}}
          </label>
        </li>
      {{/each}}
      </ul>
    </fieldset>

    <fieldset>
      <legend>Steps</legend>
      <ol>
      {{#each step in steps}}
        <li>
          <label>
            {{input type=text value=step.item}}
          </label>
        </li>
      {{else}}
        <li>
          <label>
            {{input type=text}}
          </label>
        </li>
      {{/each}}
      </ol>
    </fieldset>
    <button>Save</button>
  </form>
</div>
