<div>
  <ul>
    <li>Title: {{input value=title}}</li>
    <li>Description: {{input value=description}}</li>
    <li>
      Steps:
      <ol>
      {{#each step in steps}}
        <li>
          {{input type=text value=step.item}}
        </li>
      {{else}}
        <li>
          {{input type=text}}
        </li>
      {{/each}}
      </ol>
    </li>
    <button {{action "save" this}}>Save</button>
  </ul>
</div>
