<form {{action "create" this on="submit"}}>
  <label>Title: {{input name="title" value=title}}</label>
  <label>Description: {{textarea class="description-textarea" value=description}}</label>

  <fieldset>
    <legend>Ingredients</legend>
    <ul>
      <li>
        <label>
          {{input class="number" type="number" min=1 max=100 step=1 value=ingredientSize}}
        </label>
        <label>
          {{input class="ingredient" type="text" value=ingredientItem}}
        </label>
      </li>
    </ul>
  </fieldset>

  <fieldset>
    <legend>Steps</legend>
    <ol>
      <li>
        <label>
          {{input class="step" type=text value=stepItem}}
        </label>
      </li>
    </ol>
  </fieldset>
  <button class="btn">Save</button>
</form>
