
  <h2>{{title}}</h2>

  <span class="recipe--text">Description:&emsp;{{description}}</span>

  <ul>Ingredients
  {{#each ingredient in ingredients}}
    <li class="ingredient">{{ingredient.size}}, {{ingredient.item}}</li>
  {{/each}}
  </ul>
  <ol>Directions
  {{#each step in steps}}
    <li class="step">{{step.item}}</li>
  {{/each}}
  </ol>
  <button {{action "edit"}} class="btn">Edit</button>
  <button {{action "delete"}} class="btn">Delete</button>
  {{outlet}}
